@font-face {
    font-family: 'Lato', sans-serif;
    src: url("/fonts/Lato/Lato-Regular.ttf") format('truetype'); /*  фон с ноутбуком*/
}

.header {                                 
    width: 1440px;
    height: 782px;
    text-align:center; /* Выравнивание текста по центру */
    background-image:url("../img/Wallp.png");
    background-color: #ED4C5C; 
    opacity: 0.5;                   
}

.header-first {
    width: 100%; 
    /*height: 22px;*/
    display:flex; /* в одну строку */
    justify-content: space-between; /* Равномерно распределяет все элементы по ширине flex-блока */
    padding-top: 59px;
    align-items: center; /* Флексы выравниваются по линии поперечной оси */
}

/* .header-second {
    width: 485px;
    height: 22px;
}
*/

.menu {
    list-style: none; /* убрать точки */
    display:flex; /* в одну строку */
}
.menu li {
    margin: 10px; 
}


#button1  {
    width: 100px;
    height: 40px;
    color:#FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    margin: 24px 0;
    font-size: 14px;
}

.first {
text-align: center;
}

#button2  {
    width: 160px;
    height: 50px;
    margin: 24px 0;
    background-color: #FFFFFF;
    color: #ED4C5C;
    border: none; 
    border-radius: 6px;
}

.second {  /* 2 часть */
    width: 1440px;
    height: 500px; 
}

.sc-menu {                          /* 2 бордер  */
    display:flex;               /* в одну строку */
    list-style: none;         /* убрать точки */
    justify-content: center;
}

.sc-menu-card-first {
    width: 445px;
    margin-right: 125px;
}

.bodystyle a {
    color: #ED4C5C;
    text-decoration: none;
}

.third {                                /* 3 часть */
    width: 1440px;
    height: 660px;
    background-color: #FAFAFA;
    text-align: center;
}

.flax-container {
    display: flex;
    justify-content: center; 
}

.tc-menu-card-first {
    width: 350px;
    padding-right:30px; 
}

.tc-menu-card-first-one {
    width: 293px;
    height: 198px;
    background-color: #FFFFFF;
    margin: 0 auto; /*Контейнер центрируется*/
}

.tc-menu-card-second {
    padding-right:30px; 
}

.tc-menu-card-second-one {
    width: 293px;
    height: 198px;
    background-color: #FFFFFF;
    margin: 0 auto; /*Контейнер центрируется*/
}

.tc-menu-card-third-one {
    width: 293px;
    height: 198px;
    background-color: #FFFFFF;
    margin: 0 auto; /*Контейнер центрируется*/
}

.fourth {                               /* 4 часть */
    width: 1440px;
    height: 500px;
    text-align: center;   
}

.flax-container2 {                      /* 3 часть бордер 4х элементов  */
    display: flex;
    justify-content: center;
}

.foc-menu-card-first {
    width: 255px;
    height: 226px;
    padding-right:30px;
}

.foc-menu-card-second {
    width: 255px;
    height: 226px;
    padding-right:30px;
}

.foc-menu-card-third {
    width: 255px;
    height: 226px;
    padding-right:30px;
}

.foc-menu-card-fourth {
    width: 255px;
    height: 226px;
}

.fifth {                                /* 5 часть */
    width: 1440px;
    height: 500px;
    background-color: #ED4C5C;
    color: #FFFFFF;
    
}

.fic-menu {                      /* 5 бордер  */
    display:flex;
    justify-content: center; 
}

.fic-menu-card-first {
    width: 445px;
    padding-top: 122px;
    padding-left: 165px;
    padding-right: 125px;
    white-space: nowrap;
}

.fic-menu-card-second {
    padding-top: 94px;
    /*padding-left: 125px;
    padding-right: 260px; */
    
}


.fic-menu-card-first-icon {
    display:flex;
    list-style: none;
    padding-top: 42px;
}


.sixth {                                /* 6 часть */
    width: 1440px;
    height: 500px;
    justify-content: center;
}

.sixth-container {                      /* 6 бордер  */
    display:flex;
    justify-content: center;  
}

.six-menu-card-first {
    width: 445px;
    padding-top: 184px;
    padding-right: 125px;
    padding-left: 176px;
    list-style: none;
}

.six-menu-card-second {
    padding-top: 159px;
}

input {
    width: 540px;
    height: 60px;
    color:#333333;
    text-align: center;
    background-color: transparent;
    border: 1px solid #333333;
    border-radius: 6px;
    margin: 24px 0 #333333;
}

#button3 {
    width:160px;
    height: 50px;
    margin: 24px 0;
    color: #FFFFFF;
    background-color: #ED4C5C;
    border: none; 
    border-radius: 6px;
}


.footer {
    width: 1440px;
    height: 245px;
    background-color: #FAFAFA; 
}

.footer-container {
    padding-top: 43px;
    padding-left: 165px;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 18px;
}
